<!-- app.component.html -->
<div class="container mt-5">
    <!-- Header section -->
    <header class="mb-4 text-center">
      <h1 class="display-4 text-primary">Holaaaa!!</h1>
      <p class="lead text-muted">Si vez esta interfaz toda pitera, disculpame, no consegui un frontend a tiempo, yo soy backend hasta la muerte perros JAJA</p>
    </header>
  
    <!-- Main content section -->
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- This is where the routed content will be displayed -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  